@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  color: #2a3547;
  background: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

[data-theme="dark"] body {
  background: #202936ff;
  color: #fff;
}

.custom-phone-input {
  border: 2px solid #5d87ff; /* Example border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Add some padding */
}

/* Hide the default checkbox */
.custom-checkbox input {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

/* Style the checkmark when the checkbox is checked */
.custom-checkbox input:checked + .checkmark {
  background-color: #5d87ff;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 8px;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked + .checkmark::after {
  display: block;
}

.cursor-custom {
  cursor: url("/images/close-red.png") 9 9, auto;
}
